html, body {
    height: 100%;
}

body {
    margin: 0 auto;
    padding: 20px;
    max-width: 1000px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-center {
    text-align: center !important;
}

.w-100 {
    width: 100% !important;
}
