html, body {
    height: 100%;
}

body {
    margin: 0 auto;
    padding: 20px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-center {
    text-align: center !important;
}

.w-100 {
    width: 100% !important;
}

.d-flex {
    display: flex !important;
}
.flex-25 {
    flex: 0 0 25%;
}
.justify-content-center {
    justify-content: center;
}
